@font-face{
	font-family: 'Crimson Text';
	src: url('WorkSans-Regular.ttf');
}
html	{
	font-family: 'Work Sans', serif;
	font-size: 15pt;
	background-color:rgb(0, 0, 0);
}
body{
	border-bottom: 3px solid white;
	color: white;
	margin: auto;
}
body > h1{
	padding: 20px;
    padding-bottom: 50px;
    border-radius: 0px 0px 8px 8px;
    border-width: 5px;
    border-color: rgb(255, 255, 255);
    border-style: none double double;
    text-align: center; 
}
section.feed{
	width: 18%;
	margin: 1%;
	float: left;
}
h2{
	background-color: black;
  	color:white;
	margin-bottom: 0;
	font-size: 16pt;
}

section.feed{
	width: 45%;
	margin: 2%;
	
}
section.barotrauma{
	width:10%;
}
section.steam{
	float: right;
	overflow: scroll;
	height: 50vh;
}
section.crunchyRoll{
	width:20%;
	outline: 1px dotted black;
}
.thejournal h1{
	display: none;
}
.thejournal:before{
	content: "From thejournal.ie";
	font-size: 24px;
	font-weight: bold;
	color: green;
}

.post-item:nth-child(odd){
	text-align: center;
	
}

a:link{
	
	color: rgb(231, 1, 1);
}
h2+a:link{
	
	font-weight: bold;
}
h3{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 10pt;
	color: white;
}
p{
	margin: 0;
	color: white;
}
output h1 {
	text-indent: 5px;
	font-size: 18pt;
	color: white;
	border-bottom: 3px solid rgb(255, 255, 255);
	font-size: 32px;
	overflow: hidden;
}
.post-item{
	text-align: center;
}
.vl {
	border-left: 6px solid rgb(255, 255, 255);
	height: 10000px;
	position: absolute;
	left: 49%;
	margin-left: -3px;
	top: 19%;
  }